XTerm*faceName: Bitstream Vera Serif Mono
XTerm*faceSize: 9

! --- special colors ---

XTerm*background: #000000
XTerm*foreground: #6aff00

! --- standard colors ---

! black
XTerm*color0: #000000

! bright_black
XTerm*color8: #262626

! red
XTerm*color1: #d95959

! bright_red
XTerm*color9: #ecacac

! green
XTerm*color2: #59d959

! bright_green
XTerm*color10: #acecac

! yellow
XTerm*color3: #d9d959

! bright_yellow
XTerm*color11: #ececac

! blue
XTerm*color4: #5959d9

! bright_blue
XTerm*color12: #acacec

! magenta
XTerm*color5: #d959d9

! bright_magenta
XTerm*color13: #ecacec

! cyan
XTerm*color6: #59d9d9

! bright_cyan
XTerm*color14: #acecec

! white
XTerm*color7: #d9d9d9

! bright_white
XTerm*color15: #ffffff


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! -----------------------------------------------------------------------------
